---

#- name: install units for ansible-pull
#  template:
#    dest: /etc/systemd/system
#    src: "{{ item }}"
#  loop:
#    - ansible-pull.service
#    - ansible-pull.timer

#- include_vars: "{{ ansible_setup }}.yml"
#  tags: always

- name: system setup | scripts | copy image_prep.sh script
  tags: scripts
  copy:
    src: {{ item }}      
    dest: /etc/systemd/system
    owner: root
    group: root
    mode: 0755   
  with_items:
    - ansible-pull.service
    - ansible-pull.timer

- name: enable ansible-pull timer
  service:
    name: ansible-pull.timer
    state: started
    enabled: yes 