---

- name: Creating ansible-pull wrapper...
  tags: scripts
  copy:
    dest: "/usr/local/bin/ansible-pull-wrapper"
    content: |
      #!/usr/bin/env bash
      /usr/bin/ansible-pull -U "$REPO_URL" --clean

- name: system setup | scripts | copy image_prep.sh script
  tags: scripts
  copy:
    src: "{{ item }}"
    dest: /etc/systemd/system
    owner: root
    group: root
    mode: 0755   
  with_items:
    - ansible_setup/ansible-pull.service
    - ansible_setup/ansible-pull.timer

- name: enable ansible-pull timer
  service:
    name: ansible-pull.timer
    state: started
    enabled: yes 