[Unit]
Description=Run ansible-pull every 15 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
RandomizedDelaySec=5min
Unit=ansible-pull.service
Persistent=true

[Install]
WantedBy=timers.target