[Unit]
Description=Run ansible-pull to configure this machine
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ansible-pull-wrapper