# NOTE: Install GitHub Actions self-hosted

# NOTE: Create self-hosted user

- name: iac | install_gh_actions.yml | create group
  tags: users
  group:
    name: "{{ runner_user }}"
    state: present

- name: iac | install_gh_actions.yml | Check if user {{ runner_user }} exists
  getent:
    database: passwd
    key: "{{ runner_user }}"
  register: user_check
  ignore_errors: yes

- name: iac | install_gh_actions.yml | create user {{ runner_user }}
  tags: users
  user:
    name: "{{ runner_user }}"
    group: "{{ runner_user }}"
#    groups: adm,ansible,sudo
    state: present
    comment: "{{ runner_user }}"
#    password: "{{ {{ runner_user }}_passwd }}"
    password_lock: yes
    shell: /bin/bash    
    create_home: yes
  when: user_check is failed

#- name: iac | install_gh_actions.yml | {{ runner_user }} | add sudoers file
#  tags: users
#  copy:
#    src: users/sudoers_{{ runner_user }}
#    dest: /etc/sudoers.d/{{ runner_user }}
#    owner: root
#    group: root
#    mode: 0440

- name: iac | install_gh_actions.yml | create .ssh directory
  tags: dotfiles,users
  file:
    path: "{{ item.dir }}"
    state: directory
    owner: "{{ runner_user }}"
    group: "{{ runner_user }}"
    mode: 0700
  with_items:
    - { dir: '/home/{{ runner_user }}/.ssh' }

#- name: iac | install_gh_actions.yml | create .vault_key file
#  tags: dotfiles,users
#  file:
#    path: "{{ item.dir }}"
#    state: file
#    owner: "{{ runner_user }}"
#    group: "{{ runner_user }}"
#    mode: 0700
#  with_items:
#    - { file: '/home/{{ runner_user }}/.vault_key' }

- name: iac | install_gh_actions.yml | create .vault_key file
  file:
    path: "{{ item.dir }}"
    state: touch
    owner: "{{ runner_user }}"
    group: "{{ runner_user }}"
    mode: 0700
  with_items:
    - { file: '/home/{{ runner_user }}/.vault_key' }       

# NOTE: Download and install GitHub runner

- name: iac | install_gh_actions.yml | Create runner directory
  file:
    path: "{{ runner_dir }}"
    state: directory
    owner: "{{ runner_user }}"
    group: "{{ runner_user }}"
    mode: '0755'

- name: iac | install_gh_actions.yml | Get latest runner release metadata
  uri:
    url: https://api.github.com/repos/actions/runner/releases/latest
    return_content: yes
  register: runner_release
  when: runner_version == "latest"

- name: iac | install_gh_actions.yml | Set runner download URL
  set_fact:
    runner_url: >-
      {% if runner_version == "latest" %}
      {{ runner_release.json.assets
          | selectattr('name','search','linux-x64')
          | map(attribute='browser_download_url')
          | first }}
      {% else %}
      https://github.com/actions/runner/releases/download/v{{ runner_version }}/actions-runner-linux-x64-{{ runner_version }}.tar.gz
      {% endif %}

- name: iac | install_gh_actions.yml | Download runner archive
  get_url:
    url: "{{ runner_url }}"
    dest: "{{ runner_dir }}/actions-runner.tar.gz"
    mode: '0644'

- name: iac | install_gh_actions.yml | Extract runner
  unarchive:
    src: "{{ runner_dir }}/actions-runner.tar.gz"
    dest: "{{ runner_dir }}"
    remote_src: yes
    owner: "{{ runner_user }}"
    group: "{{ runner_user }}"

# NOTE: Configure runner

- name: iac | install_gh_actions.yml | Configure runner
  command: >
    ./config.sh --unattended
    --url {{ github_repo_url }}
    --token {{ lookup('env','SECRET_GITHUB_RUNNER') }}
    --name {{ inventory_hostname }}
    --labels {{ runner_labels }}
  args:
    chdir: "{{ runner_dir }}"
  become_user: "{{ runner_user }}"
  register: runner_config
  changed_when: "'Runner successfully added' in runner_config.stdout"

- name: iac | install_gh_actions.yml | Install systemd service for GitHub Runner
  copy:
    dest: /etc/systemd/system/github-runner.service
    content: |
      [Unit]
      Description=GitHub Actions Runner
      After=network.target

      [Service]
      ExecStart={{ runner_dir }}/run.sh
      User={{ runner_user }}
      WorkingDirectory={{ runner_dir }}
      Restart=always

      [Install]
      WantedBy=multi-user.target

- name: iac | install_gh_actions.yml | Reload GitHub Runner systemd
  systemd:
    daemon_reload: yes

- name: iac | install_gh_actions.yml | Enable and start GitHub Runner
  systemd:
    name: github-runner
    state: started
    enabled: yes


###################################################################

#- name: servers_iac | Install Terraform {{ terraform_version }}
#  package:
#    name: terraform={{ terraform_version }}
#    state: present
#    allow_downgrade: true
#  when: ansible_distribution in ["Debian", "Ubuntu"]