#NOTE: Install qemu-agent only if `prxomox_vm` is defined (group or machine is a member of `proxmox_vm` in hosts.yml) and `proxmox_vm == true`.

- name: qemu-agent | install package
  tags: packages,qemu,qemu-agent
  package:
    state: latest
    name:
      - qemu-guest-agent
  when: proxmox_vm is defined and proxmox_vm == true
  notify:
    - restart_qemu_agent

- name: qemu-agent | enable qemu agent daemon
  tags: nagios,nrpe
  service:
    name: qemu-guest-agent
    enabled: yes
    state: started
  when: proxmox_vm is defined and proxmox_vm == true
