# NOTE: Utilities

- name: system setup | utilities | install utility packages
  tags: packages,system,settings
  package:
    state: latest
    name:
      - acl
      - at
      - colordiff
      - curl
      - dnsutils
      - htop
      - iotop
      - lm-sensors
      - lsof
      - mc
      - mosh
      - ncdu
      - neofetch
      - net-tools
      - nfs-common
      - nmap
      - python3 
      - python3-psutil
      - python3-pip 
      - python3-venv 
      - ranger
      - rename
      - rsync
      - screen
      - sshfs
      - tmux
      - traceroute
      - unattended-upgrades
      - vim-nox
      - wget
      - whois
      - zsh    
  when: ansible_distribution in ["Debian", "Pop!_OS", "Ubuntu"]

#NOTE: Install qemu-agent only if `prxomox_vm` is defined (group or machine is a member of `proxmox_vm` in hosts.yml) and `proxmox_vm == true`.

- name: qemu-agent | install package
  tags: packages,qemu,qemu-agent
  package:
    state: latest
    name:
      - qemu-guest-agent
  when: proxmox_vm is defined and proxmox_vm == true
  notify:
    - restart_qemu_agent

- name: qemu-agent | enable qemu agent daemon
  tags: nagios,nrpe
  service:
    name: qemu-guest-agent
    enabled: yes
    state: started
  when: proxmox_vm is defined and proxmox_vm == true

  # NOTE: Install pip

#- name: system setup | pip packages | install bpytop
#  tags: packages,system,settings,pip,python
#  become_user: robk
#  pip:
#    executable: /usr/bin/pip3
#    state: latest
#    name: bpytop