# NOTE: Utilities

- name: system setup | utilities | install utility packages
  tags: packages,system,settings
  package:
    state: latest
    name:
      = acl
      - at
      - colordiff
      - curl
      - dnsutils
      - htop
      - iotop
      - lm-sensors
      - lsof
      - mc
      - mosh
      - ncdu
      - neofetch
      - net-tools
      - nfs-common
      - nmap
      - ranger
      - rename
      - rsync
      - screen
      - sshfs
      - tmux
      - traceroute
      - vim-nox
      - wget
      - whois
      - zsh    
  when: ansible_distribution in ["Debian", "Pop!_OS", "Ubuntu"]

  # NOTE: Install pip

- name: system setup | pip packages | install bpytop
  tags: packages,system,settings,pip,python
  become_user: robk
  pip:
    executable: /usr/bin/pip3
    state: latest
    name: bpytop