# Load distro-specific variables
- include_vars: "{{ ansible_distribution }}.yml"
  tags: always

- block:

  # install software
  - import_tasks: software/repositories.yml

  rescue:
    - set_fact: task_failed=true
