- include_vars: "{{ ansible_setup }}.yml"

- block:

  # install software
  #- import_tasks: system_setup/clock.yml
  - import_tasks: ansible_setup/systemd.yml

  # Rescue section allows you to define tasks that will run if a previous task in a block fails.
  rescue:
    - set_fact: task_failed=true 

    - name: Log the failure
      debug:
        msg: "The task has failed, setting task_failed to true."