# INFO: Use the existing 'servers' group name in routing
- name: All hosts play
  hosts: all
  gather_facts: true
  tasks:
    - name: Route to server tasks
      include_tasks: ../tasks/servers.yml
      when: "'servers' in group_names"

    - name: Route to desktop tasks
      include_tasks: ../tasks/desktops.yml
      when: "'desktops' in group_names"