- hosts: localhost
  gather_facts: true

  tasks:


    - name: Run general server role
      import_role:
        name: server_iac
      when: "'server_iac' in group_names"

    - name: Run docker server role
      import_role:
        name: server_docker
      when: "'server_docker' in group_names"

    - name: Run swarm manager role
      import_role:
        name: server_swarm_manager
      when: "'server_swarm_manager' in group_names"

    - name: Run swarm host role
      import_role:
        name: server_swarm_host
      when: "'server_swarm_host' in group_names"

    - name: Run utility server role
      import_role:
        name: server_utility
      when: "'server_utility' in group_names"